.container {
}

.imgContainer {
    width: 100%;
    height: 300px;
    position: relative;
}

.img {
    object-fit: cover;
    filter: grayscale(100%);
}

.aboutImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: grayscale(100%);
}

.imgText {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #53c28b !important;
    padding: 5px;
    color: white;
    z-index: 20;
}